html,body {
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
}
header {
    font-size: 2em;
    border-bottom: 2px solid #1A171B;

    
}
footer {
    border-top: 2px solid #1A171B;
    bottom: 0;

    
}
header, footer {
    width: 100%;
    font-family: 'Righteous', cursive;
    text-align: center;
    background-color: #E36A38;
    padding: 1%;
    color: white;
}

nav {
    display: inline-block; 
    border-bottom: 2px solid #1A171B;
    width: 100%;
    padding-left: 1%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav li {
    float: left;    
}

nav a {
    color: #1A171B;
    text-align: center;
    display: block;
    padding: 5px;
}

nav a:visited {
    color: #E36A38;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    text-decoration: none;
}