html,body {
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 2px solid #1A171B;
}

footer {
    border-top: 2px solid #1A171B;
    bottom: 0;
    text-align: center;

    
}
header, footer {
    /*width: 100%;*/
    font-family: 'Righteous', cursive;
    background-color: #E36A38;
    padding: 1%;
    color: white;
}

.jumbotron {
    background-color: #E36A38;
    margin-bottom: 0;
}
nav {
   
    border-bottom: 2px solid #1A171B;

} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 1%;
    
    
}

nav li {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #1A171B;
    margin-right: 1%;
    color: white;
}
nav a {
 color: white;

}

nav a:visited {
    color: #E36A38;
}

nav a:hover {
    font-weight: bolder;
    color: inherit;
    
}

nav a:active {
    text-decoration: none;
    
}

#home-button {
    line-height: unset;
}

.zero-margin {
    margin: 0;
    padding: 0;
}